<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="com.pavbatol.gjcc.config.LogbackColorful"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %(%d{HH:mm:ss.SSS}) %(-) %clr(%5p) %([%15.15t]) %cyan(%-40.40logger{39}) : %m%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.pavbatol" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

</configuration>